<ion-grid>
  <ion-row>
    <ion-col routerLink="/menu">
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="menu" size="large"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <h3>IN-STORE MENU</h3>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col routerLink="/catering">
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="receipt" size="large"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <h3>CATERING MENU</h3>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col routerLink="/contact">
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="send" size="large"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <h3>CONTACT</h3>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col class="orderHere" routerLink="/order">
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="cart" size="large"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <h3>ORDER HERE</h3>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>