<app-header pageTitle="Products"></app-header>
<ion-content [fullscreen]="true">

  <ion-card *ngFor="let p of products" (click)="showModal(p)">
    <ion-card-header>
      <ion-card-subtitle>{{ p.Category.name }}</ion-card-subtitle>
      <ion-card-title>{{ p.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="showModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>