<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-grid class="ion-align-items-center">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-img src="assets/images/logo.webp" alt="PRONTO - Pizza, Pasta & Pagnotta"></ion-img>
        </ion-col>
        <ion-col class="ion-text-uppercase ion-text-center">{{ pageTitle }}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>