ion-img{
    width:50px;
    img{
        width:50px;
    }
}
ion-header{
    *{
        font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
        font-size:larger
    }
}