<ion-list>
  <ion-item>
    <h1>SOCIAL MEDIA</h1>
  </ion-item>
  <ion-item>
    <ion-icon name="mail-sharp" color="warning"></ion-icon>
    info&#64;yycpronto.com
  </ion-item>
  <ion-item>
    <ion-icon name="logo-facebook" color="primary"></ion-icon>
    /yycpronto
  </ion-item>
  <ion-item>
    <ion-icon name="logo-instagram" color="danger"></ion-icon>
    prontoyyc
  </ion-item>
  <ion-item>
    <ion-icon name="logo-tiktok" color="light"></ion-icon>
    &#64;prontoyyc
  </ion-item>
</ion-list>