<app-header pageTitle="Home"></app-header>
<ion-content [fullscreen]="true" color="light">

  <ion-card id="special-container" color="light">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        DON'T MISS TODAY'S SPECIAL!
        <img alt="italian flag pattern" src="assets/images/flag-pattern.webp" />
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img alt="Lasagna" src="assets/images/food/LASAGNA.webp" />


      <ion-card-subtitle>LASAGNA</ion-card-subtitle>
      AA-grade ground beef layered between tender pasta shells and smothered with a perfect blend of creamy bechamel and
      tangy tomato sauce, all crowned with a layer of mozzarella cheese.
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-text id="text-1">At our Italian paradise, we invite you to savor la dolce vita through the delectable harmony of pizza and pasta.</ion-text>
  </ion-item>
  <ion-item>
    <ion-text id="text-2">Immerse yourself in the rustic charm of our culinary creations, where each bite is a passport to the warmth and authenticity of Italy's culinary embrace.</ion-text>
  </ion-item>

</ion-content>