<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ orderStatus.name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>ID: </ion-label> {{ orderStatus.id }}
    </ion-item>
    <ion-item>
      <ion-label>Name: </ion-label> {{ orderStatus.name }}
    </ion-item>
  </ion-list>
</ion-content>