/*
.status_color_1{color: var(--ion-color-medium);} // Waiting for approval
.status_color_2{color: var(--ion-color-secondary);} // Confirmed
.status_color_3{color: var(--ion-color-primary);} // In progress
.status_color_4{color: var(--ion-color-warning);} // On the way
.status_color_5{color: var(--ion-color-success);} // Delivered
.status_color_6{color: var(--ion-color-danger);} // Cancelled
*/